.st0{fill:#A08A4E;}
	.st1{fill:#6E572B;}
	.st2{fill:#9F804C;}
	.st3{fill:#876839;}
	.st4{fill:#A58A53;}
	.st5{fill:#6F5736;}
	.st6{fill:#3E3320;}
	.st7{fill:#8E6E3C;}
	.st8{fill:#805935;}
	.st9{fill:#715028;}
	.st10{fill:#947349;}
	.st11{fill:#4E391B;}
	.st12{fill:#877854;}
	.st13{fill:#AE8B45;}
	.st14{fill:#5E4621;}
	.st15{fill:#161410;}
	.st16{fill:#876B49;}
	.st17{fill:#A58350;}
	.st18{fill:#5F411D;}
	.st19{fill:#625240;}
	.st20{fill:#7B6E4F;}
	.st21{fill:#9E8154;}
	.st22{fill:#C09D56;}
	.st23{fill:#766B41;}
	.st24{fill:#917954;}
	.st25{fill:#A08558;}
	.st26{fill:#906941;}
	.st27{fill:#161B18;}
	.st28{fill:#624A32;}
	.st29{fill:#2C2D22;}
	.st30{fill:#3F321C;}
	.st31{fill:#2B2B2C;}
	.st32{fill:#624E42;}
	.st33{fill:#5A4321;}
	.st34{fill:#513D20;}
	.st35{fill:#5B4728;}
	.st36{fill:#4F361C;}
	.st37{fill:#513D1B;}
	.st38{fill:#433F35;}
	.st39{fill:#5B3F1E;}
	.st40{fill:#6F532D;}
	.st41{fill:#514023;}
	.st42{fill:#664E2A;}
	.st43{fill:#916A3E;}
	.st44{fill:#8C7053;}
	.st45{fill:#AF8748;}
	.st46{fill:#2F2516;}
	.st47{fill:#1A190F;}
	.st48{fill:#8F6D41;}
	.st49{fill:#3B351C;}
	.st50{fill:#976639;}
	.st51{fill:#624A28;}
	.st52{fill:#312E1C;}
	.st53{fill:#403A29;}
	.st54{fill:#383224;}
	.st55{fill:#6E542D;}
	.st56{fill:#151912;}
	.st57{fill:#8B714F;}
	.st58{fill:#292211;}
	.st59{fill:#282215;}
	.st60{fill:#BF9D64;}
	.st61{fill:#4C4020;}
	.st62{fill:#392B1E;}
	.st63{fill:#9E8248;}
	.st64{fill:#9E8D5D;}
	.st65{fill:#37351B;}
	.st66{fill:#324123;}
	.st67{fill:#0E100D;}
	.st68{fill:#0C0B0A;}
	.st69{fill:#AF9D6A;}
	.st70{fill:#52412E;}
	.st71{fill:#7C6850;}
	.st72{fill:#443D3A;}
	.st73{fill:#787552;}
	.st74{fill:#313024;}
	.st75{fill:#A89C81;}
	.st76{fill:#4A3E2A;}
	.st77{fill:#3B2918;}
	.st78{fill:#232720;}
	.st79{fill:#171813;}
	.st80{fill:#A58257;}
	.st81{fill:#6C6B64;}
	.st82{fill:#836846;}
	.st83{fill:#554020;}
	.st84{fill:#89724D;}
	.st85{fill:#64593F;}
	.st86{fill:#A96E6D;}
	.st87{fill:#9D968A;}
	.st88{fill:#0D1110;}
	.st89{fill:#AD8A5B;}
	.st90{fill:#655133;}
	.st91{fill:#918972;}
	.st92{fill:#A58F74;}
	.st93{fill:#0D100E;}
	.st94{fill:#C6AB7A;}
	.st95{fill:#B48C52;}
	.st96{fill:#E6C686;}
	.st97{fill:#DCC279;}
	.st98{fill:#BAB292;}
	.st99{fill:#957E71;}
	.st100{fill:#0C0F0E;}
	.st101{fill:#A29C6B;}
	.st102{fill:#CBAE66;}
	.st103{fill:#BFA05F;}
	.st104{fill:#D8C686;}
	.st105{fill:#E3D1A6;}
	.st106{fill:#B9B49E;}
	.st107{fill:#222B1A;}
	.st108{fill:#9C7A44;}
	.st109{fill:#C3AF74;}
	.st110{fill:#C6B983;}
	.st111{fill:#0F161A;}
	.st112{fill:#B79046;}
	.st113{fill:#281910;}
	.st114{fill:#DACA91;}
	.st115{fill:#B9A66D;}
	.st116{fill:#45433A;}
	.st117{fill:#374029;}
	.st118{fill:#CCB471;}
	.st119{fill:#0E1A27;}
	.st120{fill:#53697A;}
	.st121{fill:#515143;}
	.st122{fill:#64543F;}
	.st123{fill:#D1BB82;}
	.st124{fill:#9C8954;}
	.st125{fill:#BBAB75;}
	.st126{fill:#7B5925;}
	.st127{fill:#A27E3B;}
	.st128{fill:#865E28;}
	.st129{fill:#7A5E37;}
	.st130{fill:#B99F60;}
	.st131{fill:#0C100F;}
	.st132{fill:#CACDBD;}
	.st133{fill:#AFA99C;}
	.st134{fill:#C1B07E;}
	.st135{fill:#6B5233;}
	.st136{fill:#9E7F54;}
	.st137{fill:#D1C485;}
	.st138{fill:#9C9484;}
	.st139{fill:#654319;}
	.st140{fill:#A2947A;}
	.st141{fill:#86673B;}
	.st142{fill:#D9E3D5;}
	.st143{fill:#C5C4AE;}
	.st144{fill:#D7E0D1;}
	.st145{fill:#AB884D;}
	.st146{fill:#A8AFAD;}
	.st147{fill:#B08B4F;}
	.st148{fill:#BFB895;}
	.st149{fill:#C0BDAA;}
	.st150{fill:#E6D091;}
	.st151{fill:#D4BE7E;}
	.st152{fill:#D6E3DE;}
	.st153{fill:#BCC2BD;}
	.st154{fill:#CEDACC;}
	.st155{fill:#2E291A;}
	.st156{fill:#352716;}
	.st157{fill:#7C542B;}
	.st158{fill:#A37A44;}
	.st159{fill:#705730;}
	.st160{fill:#312A1B;}
	.st161{fill:#855C37;}
	.st162{fill:#D1BF81;}
	.st163{fill:#DAB87B;}
	.st164{fill:#E1BE7D;}
	.st165{fill:#4B4E41;}
	.st166{fill:#BE9C70;}
	.st167{fill:#B9B489;}
	.st168{fill:#D3DCD1;}
	.st169{fill:#CED9CB;}
	.st170{fill:#CDDACA;}
	.st171{fill:#BCA86D;}
	.st172{fill:#DCE0CD;}
	.st173{fill:#EBEBB3;}
	.st174{fill:#9F8558;}
	.st175{fill:#88683F;}
	.st176{fill:#9F7E47;}
	.st177{fill:#0B0D0E;}
	.st178{fill:#ADA081;}
	.st179{fill:#BBA572;}
	.st180{fill:#101C24;}
	.st181{fill:#1E1F1D;}
	.st182{fill:#DFCE8C;}
	.st183{fill:#DCD18D;}
	.st184{fill:#CEBB85;}
	.st185{fill:#B8BFB7;}
	.st186{fill:#D2DBCC;}
	.st187{fill:#9A9184;}
	.st188{fill:#B99D76;}
	.st189{fill:#D8C98F;}
	.st190{fill:#8B8F98;}
	.st191{fill:#C4A975;}
	.st192{fill:#ABBBBE;}
	.st193{fill:#E4DC96;}
	.st194{fill:#8F927B;}
	.st195{fill:#E2EBD5;}
	.st196{fill:#CBB7A4;}
	.st197{fill:#8C775F;}
	.st198{fill:#D8B37A;}
	.st199{fill:#0A0B09;}
	.st200{fill:#969688;}
	.st201{fill:#956F47;}
	.st202{fill:#2B2523;}
	.st203{fill:#2C2018;}
	.st204{fill:#5F4626;}
	.st205{fill:#1F2224;}
	.st206{fill:#513E2B;}
	.st207{fill:#97846D;}
	.st208{fill:#8F714A;}
	.st209{fill:#B1946D;}
	.st210{fill:#FAFCF9;}
	.st211{fill:#B4BBB7;}
	.st212{fill:#959F8A;}
	.st213{fill:#B2BFAB;}
	.st214{fill:#171A12;}
	.st215{fill:#0D0F0E;}
	.st216{fill:#0B0C0B;}
	.st217{fill:#181813;}
	.st218{fill:#CDCBB3;}
	.st219{fill:#A37B44;}
	.st220{fill:#0B0E0C;}
	.st221{fill:#E5EDEC;}
	.st222{fill:#D0D7D5;}
	.st223{fill:#171E1B;}
	.st224{fill:#BC9F74;}
	.st225{fill:#1D2220;}
	.st226{fill:#666457;}
	.st227{fill:#D9E0DE;}
	.st228{fill:#D0D1CC;}
	.st229{fill:#9F977E;}
	.st230{fill:#B8A473;}
	.st231{fill:#D6CBB5;}
	.st232{fill:#D8C6A4;}
	.st233{fill:#CEA976;}
	.st234{fill:#A17248;}
	.st235{fill:#1B1611;}
	.st236{fill:#D2A772;}
	.st237{fill:#0F1311;}
	.st238{fill:#E2E6E8;}
	.st239{fill:#C69D70;}
	.st240{fill:#574B37;}
	.st241{fill:#D8B987;}
	.st242{fill:#747769;}
	.st243{fill:#1F1E18;}
	.st244{fill:#DEE0D1;}
	.st245{fill:#624B30;}
	.st246{fill:#0C0D0C;}
	.st247{fill:#F5D5A8;}
	.st248{fill:#BF9E73;}
	.st249{fill:#858A7D;}
	.st250{fill:#866E50;}
	.st251{fill:#DDDDD0;}
	.st252{fill:#DFE4DD;}
	.st253{fill:#F3CC9F;}
	.st254{fill:#765129;}
	.st255{fill:#C5C5B8;}
	.st256{fill:#767063;}
	.st257{fill:#838580;}
	.st258{fill:#B6BAAF;}
	.st259{fill:#AE8D70;}
	.st260{fill:#C89C67;}
	.st261{fill:#715039;}
	.st262{fill:#F8F9F9;}
	.st263{fill:#DEDFDC;}
	.st264{fill:#D9E0E1;}
	.st265{fill:#B0896A;}
	.st266{fill:#C8A27F;}
	.st267{fill:#C9C8BB;}
	.st268{fill:#D8AD7A;}
	.st269{fill:#C59F6B;}
	.st270{fill:#BF9562;}
	.st271{fill:#C4A67F;}
	.st272{fill:#151210;}
	.st273{fill:#282925;}
	.st274{fill:#65696B;}
	.st275{fill:#0A0B0B;}
	.st276{fill:#414532;}
	.st277{fill:#3A341E;}
	.st278{fill:#DFB782;}
	.st279{fill:#222528;}
	.st280{fill:#F6F7F2;}
	.st281{fill:#D1B892;}
	.st282{fill:#736044;}
	.st283{fill:#BD9664;}
	.st284{fill:#D0D9D1;}
	.st285{fill:#707671;}
	.st286{fill:#1C1816;}
	.st287{fill:#A5A799;}
	.st288{fill:#7F6C56;}
	.st289{fill:#1D1D13;}
	.st290{fill:#121111;}
	.st291{fill:#C4A581;}
	.st292{fill:#EBE9E3;}
	.st293{fill:#A48357;}
	.st294{fill:#8C714F;}
	.st295{fill:#7D4E23;}
	.st296{fill:#81765D;}
	.st297{fill:#B7BFC6;}
	.st298{fill:#5B5542;}
	.st299{fill:#A07D5B;}
	.st300{fill:#935A2E;}
	.st301{fill:#C7A37A;}
	.st302{fill:#12191B;}
	.st303{fill:#BD7C48;}
	.st304{fill:#776B4E;}
	.st305{fill:#121413;}
	.st306{fill:#090A09;}
	.st307{fill:#BF9360;}
	.st308{fill:#455057;}
	.st309{fill:#9D7658;}
	.st310{fill:#C28E74;}
	.st311{fill:#6D471E;}
	.st312{fill:#BB9673;}
	.st313{fill:#4D2E1D;}
	.st314{fill:#808886;}
	.st315{fill:#141514;}
	.st316{fill:#47432C;}
	.st317{fill:#D0AB85;}
	.st318{fill:#ABA387;}
	.st319{fill:#9C8A78;}
	.st320{fill:#E4B789;}
	.st321{fill:#C7AB8E;}
	.st322{fill:#DEAB77;}
	.st323{fill:#5C4432;}
	.st324{fill:#40494C;}
	.st325{fill:#0B0C0C;}
	.st326{fill:#6C4933;}
	.st327{fill:#513C2E;}
	.st328{fill:#C0865A;}
	.st329{fill:#2A2E2A;}
	.st330{fill:#353B36;}
	.st331{fill:#262923;}
	.st332{fill:#85563B;}
	.st333{fill:#787469;}
	.st334{fill:#C2A27F;}
	.st335{fill:#E8BA81;}
	.st336{fill:#0D0B0B;}
	.st337{fill:#93A19F;}
	.st338{fill:#403E26;}
	.st339{fill:#302213;}
	.st340{fill:#292C26;}
	.st341{fill:#412A16;}
	.st342{fill:#6A4E3A;}
	.st343{fill:#8D6D52;}
	.st344{fill:#3A3734;}
	.st345{fill:#735F4D;}
	.st346{fill:#9E7754;}
	.st347{fill:#92806A;}
	.st348{fill:#2C2E2E;}
	.st349{fill:#494638;}
	.st350{fill:#404543;}
	.st351{fill:#8F9693;}
	.st352{fill:#171512;}
	.st353{fill:#111111;}
	.st354{fill:#2A2918;}
	.st355{fill:#D4A468;}
	.st356{fill:#524634;}
	.st357{fill:#161714;}
	.st358{fill:#918C78;}
	.st359{fill:#656C65;}
	.st360{fill:#9A9D9E;}
	.st361{fill:#0E0F0F;}
	.st362{fill:#9D7F59;}
	.st363{fill:#15161C;}
	.st364{fill:#141413;}
	.st365{fill:#262518;}
	.st366{fill:#8C785E;}
	.st367{fill:#604B33;}
	.st368{fill:#987D5B;}
	.st369{fill:#A37F54;}
	.st370{fill:#2A271D;}
	.st371{fill:#27160F;}
	.st372{fill:#301D11;}
	.st373{fill:#86877C;}
	.st374{fill:#545753;}
	.st375{fill:#444947;}
	.st376{fill:#0C0D0E;}
	.st377{fill:#BBBCBA;}
	.st378{fill:#121913;}
	.st379{fill:#727976;}
	.st380{fill:#7B8281;}
	.st381{fill:#828A87;}
	.st382{fill:#B1956E;}
	.st383{fill:#D6BE9D;}
	.st384{fill:#745C42;}
	.st385{fill:#C2A171;}
	.st386{fill:#EBD1A8;}
	.st387{fill:#292E2D;}
	.st388{fill:#382B16;}
	.st389{fill:#273031;}
	.st390{fill:#181E22;}
	.st391{fill:#8D877C;}
	.st392{fill:#F9FAFC;}
	.st393{fill:#B09779;}
	.st394{fill:#565349;}
	.st395{fill:#67655E;}
	.st396{fill:#BDA983;}
	.st397{fill:#4D514D;}
	.st398{fill:#141516;}
	.st399{fill:#161715;}
	.st400{fill:#726247;}
	.st401{fill:#7C6B56;}
	.st402{fill:#514D42;}
	.st403{fill:#D3B587;}
	.st404{fill:#D5BA9B;}
	.st405{fill:#9CA09D;}
	.st406{fill:#303838;}
	.st407{fill:#A1A29B;}
	.st408{fill:#100E0D;}
	.st409{fill:#857457;}
	.st410{fill:#545451;}
	.st411{fill:#80827C;}
	.st412{fill:#293332;}
	.st413{fill:#78807E;}
	.st414{fill:#65665C;}
	.st415{fill:#1B1E1D;}
	.st416{fill:#999681;}
	.st417{fill:#868178;}
	.st418{fill:#7E563C;}
	.st419{fill:#171F20;}
	.st420{fill:#3F3730;}
	.st421{fill:#9F7E59;}
	.st422{fill:#301911;}
	.st423{fill:#25251F;}
	.st424{fill:#6C4D39;}
	.st425{fill:#72523E;}
	.st426{fill:#53382B;}
	.st427{fill:#402A16;}
	.st428{fill:#2E312C;}
	.st429{fill:#474739;}
	.st430{fill:#442918;}
	.st431{fill:#361C11;}
	.st432{fill:#301F10;}
	.st433{fill:#2F2315;}
	.st434{fill:#685E48;}
	.st435{fill:#915832;}
	.st436{fill:#4A3327;}
	.st437{fill:#382013;}
	.st438{fill:#4C2F18;}
	.st439{fill:#452D18;}
	.st440{fill:#93653D;}
	.st441{fill:#7C5A45;}
	.st442{fill:#413D39;}
	.st443{fill:#161413;}
	.st444{fill:#5F3C2A;}
	.st445{fill:#775947;}
	.st446{fill:#3B2215;}
	.st447{fill:#926C57;}
	.st448{fill:#986849;}
	.st449{fill:#0A0C0D;}
	.st450{fill:#5E3C29;}
	.st451{fill:#544B44;}
	.st452{fill:#191410;}
	.st453{fill:#3E2616;}
	.st454{fill:#0C0E0D;}
	.st455{fill:#4D2E17;}
	.st456{fill:#3A2514;}
	.st457{fill:#524641;}
	.st458{fill:#B28663;}
	.st459{fill:#462818;}
	.st460{fill:#271B13;}
	.st461{fill:#502F19;}
	.st462{fill:#3B3B3B;}
	.st463{fill:#3E2C21;}
	.st464{fill:#51361F;}
	.st465{fill:#331F11;}
	.st466{fill:#2B1B11;}
	.st467{fill:#1E160F;}
	.st468{fill:#2C2217;}
	.st469{fill:#A37F66;}
	.st470{fill:#4C3A2E;}
	.st471{fill:#8C6648;}
	.st472{fill:#161412;}
	.st473{fill:#AA774F;}
	.st474{fill:#422615;}
	.st475{fill:#472816;}
	.st476{fill:#1A1612;}
	.st477{fill:#8E6344;}
	.st478{fill:#5B3921;}
	.st479{fill:#3A352A;}
	.st480{fill:#22130C;}
	.st481{fill:#3E2514;}
	.st482{fill:#BB8969;}
	.st483{fill:#634E42;}
	.st484{fill:#5E4C3D;}
	.st485{fill:#7D5D4B;}
	.st486{fill:#906B4D;}
	.st487{fill:#281D15;}
	.st488{fill:#513622;}
	.st489{fill:#432A16;}
	.st490{fill:#B48861;}
	.st491{fill:#BD865E;}
	.st492{fill:#151110;}
	.st493{fill:#80512C;}
	.st494{fill:#8A5C36;}
	.st495{fill:#1F150F;}
	.st496{fill:#513018;}
	.st497{fill:#483E3D;}
	.st498{fill:#2E2E36;}
	.st499{fill:#5E381D;}
	.st500{fill:#946649;}
	.st501{fill:#232C2C;}
	.st502{fill:#BD865D;}
	.st503{fill:#B87F50;}
	.st504{fill:#614F40;}
	.st505{fill:#BC7D4B;}
	.st506{fill:#C1845E;}
	.st507{fill:#AB7B51;}
	.st508{fill:#3C393C;}
	.st509{fill:#C1875B;}
	.st510{fill:#774F2F;}
	.st511{fill:#382316;}
	.st512{fill:#6D411F;}
	.st513{fill:#0E0D0D;}
	.st514{fill:#634120;}
	.st515{fill:#5F3719;}
	.st516{fill:#7E664C;}
	.st517{fill:#8C6249;}
	.st518{fill:#AC7B53;}
	.st519{fill:#472E19;}
	.st520{fill:#0F1110;}
	.st521{fill:#3C403F;}
	.st522{fill:#1C1212;}
	.st523{fill:#452C18;}


